[submodule "cvat"]
	path = cvat
	url = https://github.com/cvat-ai/cvat.git
[submodule "pyggle"]
	path = pyggle
	url = https://github.com/evan-kolberg/pyggle.git
[submodule "opencv-python-cuda-wheels"]
	path = opencv-python-cuda-wheels
	url = https://github.com/cudawarped/opencv-python-cuda-wheels.git
