__pycache__/

raw-boards/
pre-processed-boards/

yolov8n.pt
yolov8x.pt

opencv_contrib_python-4.10.0.82-cp37-abi3-win_amd64.whl

dataset/train/images
dataset/val/images

runs/detect/boggle-model-8x/weights



